## MariaDB Credentials
# TODO: set this to a secure password of your choice
PEEKBANK_DB_ROOTPW="PEEKBANK_DB_ROOTPW"

# TODO: if you are in a development environment and are not using the docker containers, set this to 127.0.0.1
PEEKBANK_DB_HOST="peekbank-db"

PEEKBANK_DB_NAME="peekbank_dev"
PEEKBANK_DB_USER="reader"
PEEKBANK_DB_PASSWORD="gazeofraccoons"
PEEKBANK_DB_PORT=3306

## Django Settings
# TODO: create a value here, use https://djecrety.ir/ or the local package version of that 
SECRET_KEY=""

# TODO: set this to TRUE if you are not in a development environment and you are making changes to the codebase
DEV=FALSE

# Backup configuration
# TODO comment the next line in if you want to run the automated backup service in production
#COMPOSE_PROFILES=backup

BACKUP_SCHEDULE=@monthly
BACKUP_KEEP_LAST=6
MIN_FREE_SPACE_GB_BACKUP=40
BACKUP_DATABASE=true
BACKUP_OSF=true

# TODO: fill in your own information if you are using the backup mechanism
S3_ACCESS_KEY=YOUR_AWS_ACCESS_KEY_ID
S3_SECRET_KEY=YOUR_AWS_SECRET_ACCESS_KEY

S3_BUCKET=peekbank-backup
S3_REGION=us-west-2
#S3_ENDPOINT=https://your.aws.compatible.server # only specify if using custom endpoint


## Project Defaults
PEEKBANK_DATA_PATH="./peekbank-data"
OSF_DATA_PATH="./peekbank-data/peekbank_data_osf"
TMP_DATA_PATH="./peekbank-data/tmp"
OSF_NODE_ID="pr6wu"