## MariaDB Credentials
# TODO: set this to a secure password
PEEKBANK_DB_ROOTPW="PEEKBANK_DB_ROOTPW"

# TODO: in development, set this to 127.0.0.1
PEEKBANK_DB_HOST="peekbank-db"

PEEKBANK_DB_NAME="peekbank_dev"
PEEKBANK_DB_USER="reader"
PEEKBANK_DB_PASSWORD="gazeofraccoons"
PEEKBANK_DB_PORT=3306

## Django Settings
# TODO: create a value here, use https://djecrety.ir/ or the local package version of that 
SECRET_KEY=""

# TODO: set this to TRUE if you are not in a production environment and you are making changes to the codebase
DEV=FALSE

## Project Defaults
PEEKBANK_DATA_PATH="./peekbank-data"
OSF_DATA_PATH="./peekbank-data/peekbank_data_osf"